<div class="header">
  <div class="sm:px-3">
    <p class="pb-3 name">
      <%= @service.name %>
    </p>

    <p class="pb-3 config">
      <pre><code><%= @service.config %></code></pre>
    </p>
  </div>
</div>
