<div class="col-4">
  <%= render Card::Component.new(body_classes: 'p-0') do |card| %>
    <% card.with_header(title: 'Favorite Colors') do |header| %>
      <% header.with_icon icon: 'vials', classes: 'me-2'  %>
    <% end %>

    <ul class="list-group list-group-flush rounded-3 list-group-light">
      <% Service.where(type: 'Services::Sample').each do |service| %>
        <li style="background-color: <%= service.config[:color] %>;" class="list-group-item d-flex justify-content-between align-items-center px-3 border-0 rounded-3 list-group-item-dark mb-2 mx-2">
          <div>
            <i class="fa-solid fa-vial fa-fw me-2"></i>
            <%= service.config[:color] %>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
