<div class="col-4">
  <div class="card shadow mb-4">
    <div class="card-header bg-transparent border-0 d-flex justify-content-between align-items-center justify-content-center align-middle">
      <h2 class="mb-0"><i class="fa-solid fa-vials fa-fw me-2"></i> Favorite Colors</h2>
    </div>

    <div class="card-body p-0">
      <ul class="list-group list-group-flush rounded-3 list-group-light">
        <% Service.where(type: 'Services::Sample').each do |service| %>
          <li style="background-color: <%= service.config[:color] %>;" class="list-group-item d-flex justify-content-between align-items-center px-3 border-0 rounded-3 list-group-item-dark mb-2 mx-2">
            <div>
              <i class="fa-solid fa-vial fa-fw me-2"></i>
              <%= service.config[:color] %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
