<li class="list-group-item d-flex justify-content-between align-items-center p-3">
  <i class="fa-solid fa-vial fa-lg"></i>
  <p class="mb-0">
    <%= link_to 'Help add more services!',
                'https://github.com/jamesiarmes/open-eng-ops',
                rel: %i[external me] %>
  </p>
</li>
