<div class="col-4">
  <%= render Card::Component.new(body_classes: 'p-0') do |card| %>
    <% card.with_header(title: 'Github Teams') do |header| %>
      <% header.with_icon type: :brand, icon: 'github' %>

      <%= link_to new_admin_team_github_team_path(team_id: @team.id), data: { turbo_frame: 'modal' } do %>
        <i class="fa-regular fa-square-plus fa-fw h-auto me-2"></i>
      <% end %>
    <% end %>

    <%= turbo_frame_tag 'team-github-teams', loading: :lazy, src: admin_team_github_teams_path(team_id: @team.id) do %>
      <%= render Spinner::Component.new %>
    <% end %>
  <% end %>
</div>
