@import 'github';
@import 'login';
@import 'form';

.z-index-2 { z-index: 2; }

.bullet {
  display: inline-block;
  background-color: #00a3ff;
  border-radius: 6px;
  width: 8px;
  height: 4px;
  flex-shrink: 0;
}
