@import 'github';
@import 'login';
@import 'form';

.z-index-2 { z-index: 2; }

.bullet {
  display: inline-block;
  background-color: #00a3ff;
  border-radius: 6px;
  width: 8px;
  height: 4px;
  flex-shrink: 0;
}

.avatar-xs { height: 25px; }
.avatar-sm { height: 45px; }
.avatar-lg { height: 150px; }
.default-avatar-xs { font-size: 25px; }
.default-avatar-sm { font-size: 45px; }
.default-avatar-lg { font-size: 150px; }
