<div class="col-4">
  <%= render Card::Component.new(body_classes: 'p-0') do |card| %>
    <% card.with_header(title: 'Google Groups') do |header| %>
      <% header.with_icon type: :brand, icon: 'google' %>

      <% header.with_button_icon(
        path: new_admin_team_google_workspace_group_path(team_id: @team.id), frame: 'modal',
        icon: Icon::Component.new(icon: 'square-plus', type: :regular, classes: 'fa-fw h-auto me-2')
      ) %>
    <% end %>

    <%= turbo_frame_tag 'team-google-workspace-groups', loading: :lazy, src: admin_team_google_workspace_groups_path(team_id: @team.id) do %>
      <%= render Spinner::Component.new %>
    <% end %>
  <% end %>
</div>
