<% if @user.services_github_user_config&.github_user_id %>
  <li class="list-group-item d-flex justify-content-between align-items-center p-3">
    <i class="fa-brands fa-github fa-lg"></i>
    <p class="mb-0">
      <%= link_to @user.services_github_user_config.username,
                  @user.services_github_user_config.profile_url,
                  rel: %i[external me] %>
    </p>
  </li>
<% end %>
