<nav id="main-sidebar" class="collapse d-lg-block sidebar bg-white">
  <div class="position-sticky">
    <div class="list-group list-group-flush mx-3 mt-4">
      <% items.each do |item| %>
        <%= item %>
      <% end %>
    </div>
  </div>
</nav>
<!-- Sidebar -->
