<div class="card-footer bg-transparent border-0">
  <%= content %>
  <% if buttons? %>
    <div class="d-flex justify-content-center mb-2">
      <% buttons.each do |button| %>
        <%= button %>
      <% end %>
    </div>
  <% end %>
</div>
