<nav aria-label="<%= label %>">
  <ul class="pagination justify-content-end m-3">
    <% if @pagination_params[:page] %>
      <li class="page-item">
        <%= link_to 'First', @pagination_params.merge(page: nil), class: 'page-link', data: { turbo_frame: frame } %>
      </li>
    <% else %>
      <li class="page-item disabled">
        <span class="page-link">First</span>
      </li>
    <% end %>

    <% if pagination[:next_page]  %>
      <li class="page-item">
        <%= link_to 'Next', @pagination_params.merge(page: pagination[:next_page]), class: 'page-link', data: { turbo_frame: frame } %>
      </li>
    <% else %>
      <li class="page-item disabled">
        <span class="page-link">Next</span>
      </li>
    <% end %>
  </ul>
</nav>
