<%= render Modal::Component.new title: 'Google Workspace Authorization' do |modal| %>
  <% modal.with_icon icon: 'lock', classes: 'default-avatar-xs me-2' %>

  <%= form_tag(auth_path(:google_oauth2, user_id: params[:user_id], service_id: params[:service_id]), method: 'post', data: { turbo: false }) do %>
    <button class="btn btn-primary" type='submit'>
      <%= render Icon::Component.new(icon: 'google', type: :brand, classes: 'me-1') %>
      Login with Google
    </button>
  <% end %>
<% end %>
