<div class="select-outline my-2">
  <%= form.select field,
      options,
      defined?(html_options) ? html_options : {},
      {
        data: defined?(data_elements) ? data_elements : {},
        class: "#{form.object.errors[field].any? ? 'invalid' : ''} form-control form-select select select-input",
        required: defined?(required) ? required : false,
        disabled: defined?(disabled) ? disabled : false,
        multiple: defined?(multiple) ? 'multiple' : false
      } %>
  <%= form.label field,
                 class: "z-index-2 mb-1 form-label select-label #{form.object.errors[field].any? ? 'invalid' : ''} #{defined?(required) ? 'required' : ''}" %>
  <% if form.object.errors[field] %>
    <span class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
      <%= form.object.errors.full_messages_for(field).join(', ') %>
    </span>
  <% end %>
</div>
