<div class="form-outline my-2">
  <%= form.text_field field, placeholder: defined?(placeholder) ? placeholder : '',
                      class: "form-control #{form.object.errors[field].any? ? 'invalid' : ''}",
                      type: defined?(type) ? type : 'text',
                      required: defined?(required) ? required : false %>
  <%= form.label field,
                 class: "form-label #{form.object.errors[field].any? ? 'invalid' : ''} #{defined?(required) ? 'required' : ''}" %>
  <% if form.object.errors[field] %>
    <span class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">
      <%= form.object.errors.full_messages_for(field).join(', ') %>
    </span>
  <% end %>
</div>
