<div class="form-outline my-2">
  <%= form.text_field field, { placeholder: defined?(placeholder) ? placeholder : '',
                      class: "form-control #{form.object.errors[field].any? ? 'is-invalid' : ''} #{defined?(classes) ? classes : ''}",
                      type: defined?(type) ? type : 'text',
                      disabled: defined?(disabled) ? disabled : false,
                      autofocus: defined?(autofocus) ? autofocus : false,
                      required: defined?(required) ? required : false }.merge(defined?(extras) ? extras : {}) %>
  <%= form.label field,
                 class: "form-label #{form.object.errors[field].any? ? 'is-invalid' : ''} #{defined?(required) ? 'required' : ''}" %>

  <% unless form.object.errors[field].empty? %>
    <div class="invalid-feedback">
      <%= form.object.errors.full_messages_for(field).join(', ') %>
    </div>
  <% end %>
</div>
