<div class="w-full">
  <div class="responsive-container">
    <div class="my-12 px-4 py-5 sm:px-6">
      <div id="data_sets" class="header">
        <%= render 'form', department: @department %>
        <%#= link_to 'Cancel', :back, class: 'ml-2 bg-gray-100 inline-block px-6 py-2.5 font-medium text-xs leading-tight uppercase rounded shadow-md focus:shadow-lg focus:outline-none focus:ring-0 transition duration-150 ease-in-out' %>
      </div>
    </div>
  </div>
</div>
