<div class="w-full">
  <div class="responsive-container">
    <div class="my-12 px-4 py-5 sm:px-6">
      <div id="data_sets" class="header">
        <%= render 'form', role: @team %>
      </div>
    </div>
  </div>
</div>
