<fieldset class="border container-fluid row g-4 my-2 ms-1 pb-4">
  <legend class="w-auto float-none"><i class="fa-brands fa-github"></i> GitHub Configuration</legend>

  <%= render 'shared/config/select', form: form, label: 'Authorization type',
             field: :auth_type,
             options: {
               'OAuth (recommended)' => 'oauth',
               'Personal access token' => 'pat'
             },
             default: 'oauth',
             required: true %>
  <%= render 'shared/config/text_field', form: form, label: 'Organization',
             field: :org,
             required: true %>
  <%= render 'shared/config/text_field', form: form, label: 'API token',
             field: :token %>
  <p><em>If you select OAuth, you will be prompted to authorize on the next page.</em></p>
</fieldset>
