<%= render Modal::Component.new title: 'GitHub Authorization' do |modal| %>
  <% modal.with_icon icon: 'lock', classes: 'default-avatar-xs me-2' %>

  <%= form_tag(auth_path(:github, user_id: params[:user_id], service_id: params[:service_id]), method: 'post', data: { turbo: false }) do %>
    <button class="btn btn-dark" type='submit'>
      <%= render Icon::Component.new(icon: 'github', type: :brand, classes: 'me-1') %>
      Login with GitHub
    </button>
  <% end %>
<% end %>

